[submodule "js/javascript-mobile-desktop-geolocation"]
	path = js/javascript-mobile-desktop-geolocation
	url = https://github.com/estebanav/javascript-mobile-desktop-geolocation.git
[submodule "js/DataTables"]
	path = js/DataTables
	url = https://github.com/DataTables/DataTables.git
[submodule "js/plupload"]
	path = js/plupload
	url = https://github.com/moxiecode/plupload.git
[submodule "js/jqueryui"]
	path = js/jqueryui
	url = https://github.com/components/jqueryui.git
[submodule "js/jquery"]
	path = js/jquery
	url = https://github.com/components/jquery.git
[submodule "js/tinymce-dist"]
	path = js/tinymce-dist
	url = https://github.com/tinymce/tinymce-dist.git
[submodule "js/jquery_jeditable"]
	path = js/jquery_jeditable
	url = https://github.com/tuupola/jquery_jeditable.git
[submodule "lib/parsedown"]
	path = lib/parsedown
	url = https://github.com/erusev/parsedown.git
