/config/config.php
/public/js/jquery/*
/public/js/jqueryui/*
/public/js/datatables/*
/public/js/tinymce/*
/lib/zendframework/*
/public/images/taxa/
/tmp/
/images/taxa/
/cache/
/log/
/sitemap.xml
/images/taxa_observation/
/install/data/meta/revision
/images/taxa_observation300x200/
/images/merged_altitude/
/images/merged_flower/
/images/merged_map/
/images/qr/