[submodule "js/javascript-mobile-desktop-geolocation"]
	path = js/javascript-mobile-desktop-geolocation
	url = https://github.com/estebanav/javascript-mobile-desktop-geolocation.git
[submodule "js/DataTables"]
	path = js/DataTables
	url = https://github.com/DataTables/DataTables.git
[submodule "js/plupload"]
	path = js/plupload
	url = https://github.com/moxiecode/plupload.git
[submodule "js/jqueryui"]
	path = js/jqueryui
	url = https://github.com/components/jqueryui.git
[submodule "js/jquery"]
	path = js/jquery
	url = https://github.com/components/jquery.git
[submodule "js/tinymce-dist"]
	path = js/tinymce-dist
	url = https://github.com/tinymce/tinymce-dist.git
[submodule "js/jquery_jeditable"]
	path = js/jquery_jeditable
	url = https://github.com/tuupola/jquery_jeditable.git
[submodule "lib/parsedown"]
	path = lib/parsedown
	url = https://github.com/erusev/parsedown.git
[submodule "lib/firephp"]
	path = lib/firephp
	url = https://github.com/firephp/firephp.git
[submodule "lib/facebook-php-sdk-v4"]
	path = lib/facebook-php-sdk-v4
	url = https://github.com/facebook/facebook-php-sdk-v4.git
[submodule "install/dbv"]
	path = install/dbv
	url = https://github.com/victorstanciu/dbv.git
[submodule "lib/geoPHP"]
	path = lib/geoPHP
	url = https://github.com/phayes/geoPHP.git
[submodule "js/fancyBox"]
	path = js/fancyBox
	url = https://github.com/fancyapps/fancyBox.git
[submodule "lib/phpqrcode-git"]
	path = lib/phpqrcode-git
	url = git://git.code.sf.net/p/phpqrcode/git
[submodule "style/bootstrap"]
	path = style/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "lib/shuttle-export"]
	path = lib/shuttle-export
	url = https://github.com/2createStudio/shuttle-export
[submodule "lib/google-api-php-client"]
	path = lib/google-api-php-client
	url = https://github.com/google/google-api-php-client
[submodule "lib/google-api-php-client-services"]
	path = lib/google-api-php-client-services
	url = https://github.com/google/google-api-php-client-services.git
[submodule "lib/monolog"]
	path = lib/monolog
	url = https://github.com/Seldaek/monolog.git
[submodule "lib/figlog"]
	path = lib/figlog
	url = https://github.com/php-fig/log.git
[submodule "lib/psr7"]
	path = lib/psr7
	url = https://github.com/guzzle/psr7.git
[submodule "lib/http-message"]
	path = lib/http-message
	url = https://github.com/php-fig/http-message
[submodule "lib/guzzle"]
	path = lib/guzzle
	url = https://github.com/guzzle/guzzle.git
[submodule "lib/google-auth-library-php"]
	path = lib/google-auth-library-php
	url = https://github.com/google/google-auth-library-php.git
[submodule "lib/cache"]
	path = lib/cache
	url = https://github.com/php-fig/cache.git
[submodule "lib/promises"]
	path = lib/promises
	url = https://github.com/guzzle/promises.git
