/nbproject/*
/config/config.php
/public/js/jquery/*
/public/js/jqueryui/*
/public/js/datatables/*
/public/js/tinymce/*
/lib/zendframework/*
/public/images/taxa/
/tmp/
/images/taxa/
/cache/
/log/
/sitemap.xml
/images/taxa_observation/
/install/data/meta/revision
/images/taxa_observation300x200/
/images/merged_altitude/
/images/merged_flower/
/images/merged_map/
/images/dico/
/images/qr/
/images/taxa_observation600x400/
/db/
/shell/importdb.sh
/nbproject/private/
/images/dico/
/favicon-192.png
/favicon-310.png
/favicon-76.png
/favicon-160.png
/favicon-72.png
/favicon-152.png
/favicon-32.png
/favicon-120.png
/favicon-150.png
/favicon-180.png
/favicon.ico
/favicon-60.png
/favicon-70.png
/favicon-64.png
/favicon-16.png
/favicon-144.png
/browserconfig.xml
/favicon-96.png
/favicon-57.png
/favicon-114.png
/view/map/map_static.html