.ui-buttonset .ui-button {
   margin-right: 0em !important;
}
a.actions.ui-widget-content {
   display: none !important;
}
a.actions:not(.ui-widget-content) {
   display:inline-block;
   height: 16px;
   width: 16px;
   background:url(sprite/actions.png);
   text-indent: 100%;
   white-space: nowrap;
   overflow: hidden;
}
a.actions.delete {
   background-position: -16px 0px;
}
a.actions.add {
   background-position: -32px 0px;
}
a.actions.sort {
   background-position: -48px 0px;
}
a.actions.view {
   background-position: -64px 0px;
}