<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Leaf App Landing Page Flat Bootstarp responsive Website Template| Features :: w3layouts</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Leaf Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>
</head>
<body>
	<!-- header-section-starts -->	
	<div class="a-header">
		<div class="container">
				<div class="logo1">
					<a href="index.html"><img src="images/logo.jpg" alt="" /></a>
				</div>				
				<div class="top-menu a-top-menu">
					<ul>
						<li><a href="about.html">about </a></li> <li> /  </li>
						<li><a class="active" href="features.html">features</a></li><li> /  </li>
						<li><a href="faq.html">faq</a></li>
					</ul>
				</div>
			<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="services-section">
			<div class="container">
				<div class="services-section-head text-center">
					<h3>Say Thanks For Awesome Features</h3>
					<span></span>
				</div>
				<div class="services-section-grids">
					<div class="col-md-4 services-section-grid text-center span_66">
						<i class="eye"></i>
						<h4>Beautiful design</h4>
						<p>Nullam vitae sollicitudineros. Cras varius vehicula velit, ac congue quam dictum sed</p>
					</div>
					<div class="col-md-4 flat-phone text-center span_66">
						<img src="images/flat-phone.jpg" alt="" />
					</div>
					<div class="col-md-4 services-section-grid text-center span_66">
						<i class="load"></i>
						<h4>Auto Reloading</h4>
						<p>Nullam vitae sollicitudineros. Cras varius vehicula velit, ac congue quam dictum sed</p>
					</div>
					<div class="clearfix"></div>
					<div class="col-md-4 services-section-grid span_55 text-center">
						<i class="msg"></i>
						<h4>Responsive Layout</h4>
						<p>Nullam vitae sollicitudineros. Cras varius vehicula velit, ac congue quam dictum sed</p>
					</div>
					<div class="col-md-4 services-section-grid span_55 text-center">
						<i class="flag"></i>
						<h4>Easy to Customize</h4>
						<p>Nullam vitae sollicitudineros. Cras varius vehicula velit, ac congue quam dictum sed</p>
					</div>
					<div class="col-md-4 services-section-grid span_55 text-center">
						<i class="ok"></i>
						<h4>Help & Support</h4>
						<p>Nullam vitae sollicitudineros. Cras varius vehicula velit, ac congue quam dictum sed</p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>

			<div class="features-section text-center">
			<div class="container">
				<div class="features-section-head">
					<h3>so many features</h3>
					<p>you'll love every one of them</p>
				</div>
				<div class="features-section-grids">
					<div class="col-md-4 features-section-grid">
						<img src="images/men.jpg" alt="" />
						<p>The worst part about creating mockups is creating all the fake content to go in the boxes like this. I dread it.</p>
						<a class="hvr-sweep-to-top button" href="#">learn more</a>
					</div>
					<div class="col-md-4 features-section-grid">
						<img src="images/grid.jpg" alt="" />
						<p>The worst part about creating mockups is creating all the fake content to go in the boxes like this. I dread it.</p>
						<a class="hvr-sweep-to-top button" href="#">learn more</a>
					</div>
					<div class="col-md-4 features-section-grid">
						<img src="images/mike.jpg" alt="" />
						<p>The worst part about creating mockups is creating all the fake content to go in the boxes like this. I dread it.</p>
						<a class="hvr-sweep-to-top button" href="#">learn more</a>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>	
		<div class="twitter text-center">
			<div class="container">
				<h4>holy snook! now that's a nice looking free template!</h4>
				<p>4 hours ago</p>
				<a href="#"><img src="images/twitter.png" alt="" />@leaf</a>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="container">
			<div class="copyright">
					<p>Copyright &copy; 2015 All rights reserved | Template by  <a href="http://w3layouts.com">  W3layouts</a></p>
			</div>
		</div>
	</div>
</body>
</html>