<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Leaf App Landing Page Flat Bootstarp responsive Website Template| Home :: w3layouts</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Leaf Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>
</head>
<body>
	<!-- header-section-starts -->	
	<div class="header">
		<div class="container">
			<div class="col-md-4 header-left">
				<img src="images/mobile.jpg" alt="" />
			</div>
			<div class="col-md-8 header-right">
				<div class="top-menu">
					<ul>
						<li><a href="about.html">about </a></li> <li> /  </li>
						<li><a href="features.html">features</a></li><li> /  </li>
						<li><a href="faq.html">faq</a></li>
					</ul>
				</div>
			<div class="clearfix"></div>
				<div class="logo text-center">
					<a href="index.html"><img src="images/logo.jpg" alt="" /></a>
				</div>
				<div class="title text-center">
					<p>just another productivity app</p>
					<a class="hvr-shutter-in-vertical button" href="#">pre order</a>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="content">
		<div class="features-section text-center">
			<div class="container">
				<div class="features-section-head">
					<h3>so many features</h3>
					<p>you'll love every one of them</p>
				</div>
				<div class="features-section-grids">
					<div class="col-md-4 features-section-grid">
						<img src="images/men.jpg" alt="" />
						<p>The worst part about creating mockups is creating all the fake content to go in the boxes like this. I dread it.</p>
						<a class="hvr-sweep-to-top button" href="#">learn more</a>
					</div>
					<div class="col-md-4 features-section-grid">
						<img src="images/grid.jpg" alt="" />
						<p>The worst part about creating mockups is creating all the fake content to go in the boxes like this. I dread it.</p>
						<a class="hvr-sweep-to-top button" href="#">learn more</a>
					</div>
					<div class="col-md-4 features-section-grid">
						<img src="images/mike.jpg" alt="" />
						<p>The worst part about creating mockups is creating all the fake content to go in the boxes like this. I dread it.</p>
						<a class="hvr-sweep-to-top button" href="#">learn more</a>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<div class="middle-grid">
			<div class="container">
				<div class="info text-center">
					<h4>SCHEDULE</h4>
					<h4>ASSIGN</h4>
					<h4>COMPLETE</h4>
					<a class="hvr-shutter-in-horizontal button" href="#">faq's</a>
				</div>
			</div>
		</div>
		<div class="subscribe">
			<div class="container">
				<img src="images/msg.jpg" alt="" />
				 <input type="text" class="text" value="holler@me.com" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'holler@me.com';}">
				 <input type="submit" value="sign up">
				<p>sign up to be notified when leaf comes out first</p>
			</div>
		</div>
		<div class="twitter text-center">
			<div class="container">
				<h4>holy snook! now that's a nice looking free template!</h4>
				<p>4 hours ago</p>
				<a href="#"><img src="images/twitter.png" alt="" />@leaf</a>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="container">
			<div class="copyright">
					<p>Copyright &copy; 2015 All rights reserved | Template by  <a href="http://w3layouts.com">  W3layouts</a></p>
			</div>
		</div>
	</div>
</body>
</html>