<div id="newtaxa">
   <h2> Ultime novità </h2>
   <div class="latestTaxa">
         <div>
                     <img src="http://127.0.0.1/~caiofior/floreae.it/images/taxa/00/04/41.png" alt="Potentilla micrantha"/>
                  <br/>
         <a href="http://127.0.0.1/~caiofior/florae.it/index.php?id=785">Sp. Potentilla micrantha</a>

      </div>
         <div>
                     <img src="http://127.0.0.1/~caiofior/floreae.it/images/taxa/00/45/94.png" alt="Daucus broteri"/>
                  <br/>
         <a href="http://127.0.0.1/~caiofior/florae.it/index.php?id=5541">Sp. Daucus broteri</a>

      </div>
      </div>
</div>
<div class="clear"></div>
