<div id="newtaxa">
   <h2> Ultime novità </h2>
   <div class="latestTaxa">
         <div>
                     <img src="http://127.0.0.1/~caiofior/florae.it/images/taxa/00/12/28.png" alt="Brachypodium sylvaticum"/>
                  <br/>
         <a href="http://127.0.0.1/~caiofior/florae.it/index.php?id=1941">Sp. Brachypodium sylvaticum</a>

      </div>
         <div>
                     <img src="http://127.0.0.1/~caiofior/florae.it/images/taxa/00/18/40.png" alt="Chrysanthemum coronarium"/>
                  <br/>
         <a href="http://127.0.0.1/~caiofior/florae.it/index.php?id=2623">Sp. Chrysanthemum coronarium</a>

      </div>
      </div>
</div>
<div class="clear"></div>
