<div id="newtaxa">
   <h2> Ultime novità </h2>
   <div class="latestTaxa">
         <div>
                     <img src="http://127.0.0.1/~caiofior/fioriechiavi.it/images/taxa/00/29/05.png" alt="Aquilegia litardièrei"/>
                  <br/>
         <a href="http://127.0.0.1/~caiofior/fioriechiavi.it/index.php?id=3768">Sp. Aquilegia litardièrei</a>

      </div>
         <div>
                     <img src="http://127.0.0.1/~caiofior/fioriechiavi.it/images/taxa/00/40/83.png" alt="Viola alba"/>
                  <br/>
         <a href="http://127.0.0.1/~caiofior/fioriechiavi.it/index.php?id=4987">Sp. Viola alba</a>

      </div>
      </div>
</div>
<div class="clear"></div>
