form.addTaxa {
   display: inline;
}
a.selectAllRegions {
   font-size: smaller;
}
.attributeTable > label {
   margin: 3px;
}
.attributeTable > * {
   display: inline-block;
   width: 200px;
}
.col_item, eol_item {
    padding-left:40px;
    font-size:10px;
}