.mapContainer {position: relative; left: 0; top: 0; width:300px;}
.baseMap { float: left; position: relative; } 
.mapRegion { position: absolute; top: 0; right: 0; } 

.floweringContainer {position: relative; left: 0; top: 0; width:360px; height: 100px;}
.baseFlower { float: left; position: relative; } 
.flowerMonth { position: absolute; top: 0; right: 0; } 

.altitudeContainer {position: relative; left: 0; top: 0; width:300px; height: 200px;}
.altitudeBase { float: left; position: relative; } 
.altitude { position: absolute; top: 0; right: 0; } 

.latestTaxa div {
   float:left;
}
.clear {
   clear: both;
}
#imageSnipets span {
   float:left;
}
#imageSnipets span div{
   width:300px;
}
.socialContainer {
   float: left;
}
#breadcrump * {
    display: inline;
}
.ui-buttonset .ui-button {
   margin-right: 0em !important;
}
a.actions.ui-widget-content {
   display: none !important;
}
a.actions:not(.ui-widget-content) {
   display:inline-block;
   height: 16px;
   width: 16px;
   background:url(sprite/actions.png);
   text-indent: 100%;
   white-space: nowrap;
   overflow: hidden;
}
a.actions.delete {
   background-position: -16px 0px;
}
a.actions.add {
   background-position: -32px 0px;
}
a.actions.sort {
   background-position: -48px 0px;
}
a.actions.view {
   background-position: -64px 0px;
}
a.actions.close {
   background-position: -80px 0px;
}
a.actions.update {
   background-position: -96px 0px;
}
a.actions.hide {
   background-position: -112px 0px;
}
a.actions.download {
   background-position: -128px 0px;
}
a.actions.upload {
   background-position: -144px 0px;
}
a.externalLink {
	display:inline;
}