.mapContainer {position: relative; left: 0; top: 0; width:300px;}
.baseMap { float: left; position: relative; } 
.mapRegion { position: absolute; top: 0; right: 0; } 
.latestTaxa div {
   float:left;
}
.clear {
   clear: both;
}
#imageSnipets span {
   float:left;
}
#imageSnipets span div{
   width:300px;
}