/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
	padding:0;
	margin:0;
	font-family: 'Open Sans', sans-serif;
	background:#fff;
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
/*-----start-header----*/
.header{
	background:#ff2d55;
	padding-top:3em;
}
.top-menu {
	float:right;
        padding-right:90px; 
}
.top-menu ul li{
	display:inline-block;
	color:#cfcfcf;
	margin:0 5px;
	font-size:1.4em;
}
.top-menu ul li a {
	color:#cfcfcf;
	font-weight:400;
	text-decoration:none;
}
.top-menu ul li a.active {
	color:#92132c;
}
.top-menu ul li a:hover {
	color:#92132c;
}
.header-left a span{
        color:#B51D38;
        font-weight:400;
        font-size:2em;
}
.features-section {
	padding:5em 0 7em 0;
}
.footer{
	padding:3em 0;
}
/************** About Page *******/
.errorMessage{
    margin-top: 2px;
    margin-bottom: 2px;
}
.errorMessage span{
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    color: #8A132B;
    background-color: #FF2D55;
    border: 2px solid;
    border-radius: 25px;
}
.selectedPage {
    font-weight: bold;
}
a.notextdecoration {
    text-decoration: none;
}
#signalObservationButton,
#signalObservationLink {
    font-size: 19.6px;
    font-weight: bold;
}
/*-- responsive-design starts-here --*/

@media screen and (max-width: 1440px) {
	.middle-grid {
		min-height: 562px;
	}
	.twitter {
		min-height: 375px;
	}
	.twitter h4 {
		padding-top: 3.3em;
	}
	.info h4 {
		font-size: 4.3em;
		line-height: 1.5em;
	}
	.info {
		margin: 6em 0 0 0;
	}
	.features-section-head h3 {
		font-size: 4.85em;
	}
	.features-section {
		padding: 4em 0 6em 0;
	}
	.features-section-head p {
		font-size: 2.2em;
	}
	.services-section {
		padding: 4em 0;
	}
	.faq-page-head h3 {
		font-size: 2.8em;
	}
}
@media screen and (max-width: 1366px) {
	.middle-grid {
		min-height: 533px;
	}
	.info h4 {
		font-size: 4.1em;
		line-height: 1.45em;
	}
	.twitter {
		min-height: 355px;
	}
	.footer {
		padding: 2.2em 0;
	}
	.copyright p {
		font-size: 1.3em;
	}
	.subscribe {
		padding: 3.5em 0;
		margin: 4em 0;
	}
	.features-section-head h3 {
		font-size: 4.8em;
	}
}
@media screen and (max-width: 1280px) {
	.info {
		margin: 5em 0 0 0;
	}
	.middle-grid {
		min-height: 498px;
	}
	.info h4 {
		font-size: 4em;
		line-height: 1.4em;
	}
	.info a {
		font-size: 1.3em;
		padding: 13px 60px;
	}
	.twitter {
		min-height: 332px;
	}
	.twitter h4 {
		padding-top: 3em;
		font-size: 2.2em;
	}
	.twitter img {
		width: 5%;
	}
	.features-section-head h3 {
		font-size: 4.65em;
	}
	.features-section-head p {
		font-size: 2.1em;
	}
	.subscribe input[type="text"] {
		padding: 17px 30px;
		font-size: 1.4em;
	}
	.subscribe input[type="submit"] {
		padding: 18px 60px;
	}
	.subscribe img {
		width: 8%;
	}
	.subscribe p {
		margin-top: 0.7em;
		font-size: 1.95em;
	}
	.subscribe {
		padding: 3.3em 0;
		margin: 3.8em 0;
	}
	.about-section-head p {
		font-size: 26px;
	}
	.about-section-head {
		padding: 4em 0;
	}
	.about-section-top-grid,.about-section-middle-grid,.about-section-bottom-grid {
		padding: 3.5em 0;
	}
	.about-section-top-right-grid p,.about-section-bottom-right-grid p {
		font-size: 31px;
	}
	.about-section-top-left-grid h4,.about-section-middle-left-grid h4,.about-section-bottom-left-grid h4 {
		font-size: 40px;
	}
	.services-section-head h3 {
		font-size: 2.5em;
		margin-bottom: 0.5em;
	}
	.services-section-grid h4 {
		font-size: 1.9em;
		margin: 0.1em 0 0.5em 0;
	}
	.services-section-grid p {
		font-size: 1.1em;
	}
	.services-section {
		padding: 3em 0;
	}
	.a-header {
		padding: 1.8em 0;
	}
}
@media screen and (max-width: 1024px) {
	.logo img {
		width: 65%;
	}
	.logo {
		margin-top: 5em;
	}
	.title p {
		font-size: 1.8em;
		margin: -18px 50px 57px 0px;
		letter-spacing: 1px;
	}
	.title a {
		font-size: 1.3em;
		padding: 15px 50px;
		margin-left: 7em;
	}
	.features-section-head h3 {
		font-size: 4.1em;
	}
	.features-section-head p {
		font-size: 1.9em;
	}
	.features-section {
		padding: 3em 0 5em 0;
	}
	.features-section-grid img {
		width: 48%;
	}
	.features-section-grid p {
		font-size: 1.3em;
		width: 64%;
		margin: 0.8em auto 2em;
	}
	.features-section-grid a {
		padding: 12px 37px;
		font-size: 1.3em;
	}
	.info h4 {
		font-size: 3.5em;
		line-height: 1.2em;
		letter-spacing:6px;
	}
	.middle-grid {
		min-height: 403px;
	}
	.info {
		margin: 4em 0 0 0;
	}
	.info a {
		padding: 13px 0;
	}
	.subscribe input[type="text"] {
		padding: 15px 25px;
		font-size: 1.3em;
		margin-left: 0.7em;
		width: 69%;
	}
	.subscribe input[type="submit"] {
		padding: 16px 53px;
	}
	.twitter {
		min-height: 268px;
	}	
	.twitter h4 {
		padding-top: 2em;
		font-size: 2.1em;
	}
	.twitter a{
		font-size:2.5em;
	}
	.subscribe {
		padding: 3em 0;
		margin: 3.3em 0;
	}
	.logo1 img {
		width: 23%;
	}
	.a-top-menu {
		margin-top: 12px;
	}
	.a-header {
		padding: 1.5em 0;
	}
	.about-section-grids {
		margin-bottom: 4em;
	}
	.about-section-top-right-grid,.about-section-bottom-right-grid, .about-section-top-left-grid, .about-section-middle-right-grid, .about-section-middle-left-grid, .about-section-top-bottom-grid, .about-section-bottom-left-grid {
		padding: 0;
	}
	.about-section-top-left-grid h4,.about-section-middle-left-grid h4,.about-section-bottom-left-grid h4 {
		font-size: 36px;
	}
	.about-section-top-right-grid p,.about-section-bottom-right-grid p {
		font-size: 29px;
	}
	.about-section-middle-right-grid p {
		font-size: 23px;
	}
	.about-section-head p {
		font-size: 23px;
	}
	.about-section-head {
		padding: 3.5em 0;		
	}
	.about-section-top-grid, .about-section-middle-grid, .about-section-bottom-grid {
		padding: 3em 0;
	}
	.services-section-head h3 {
		font-size: 2.3em;
		margin-bottom: 0.4em;
	}
	.about-section-head h3 {
		font-size: 2.8em;
		margin: 0 0 0.3em 0;
	}
	.faq-page-head h3 {
		font-size: 2.5em;
		margin: 0 0 0.4em 0;
	}
	.faq-page {
		padding: 2em 0;
	}
}
@media screen and (max-width: 800px) {
	.header-left {
		width: 33.333%;
		float: left;
	}
	.header-right {
		width: 66.333%;
		float: left;
	}
	.top-menu ul li {
		margin: 0 4px;
		font-size: 1.2em;
	}
	.logo {
		margin-top: 3em;
	}
	.title p {
		font-size: 1.4em;
		margin: -16px 18px 40px 0px;
	}
	.title a {
		font-size: 1.3em;
		padding: 12px 45px;
		margin-left: 6em;
	}		
	.features-section-head h3 {
		font-size: 3.6em;
		letter-spacing: 1px;
	}
	.features-section-head p {
		font-size: 1.7em;
		letter-spacing: 0px;
	}
	.features-section-grid {
		width: 33.333%;
		float: left;
	}
	.features-section-grid p {
		font-size: 1.2em;
		width: 79%;
		margin: 0.7em auto 1.6em;
	}
	.features-section-grid a {
		padding: 9px 34px;		
		font-size: 1.2em;
		border-bottom: 3px solid #d22546;
	}
	.features-section {
		padding: 2.5em 0 4em 0;
	}
	.info h4 {
		font-size: 2.7em;
		letter-spacing: 5px;
	}
	.info {
		margin: 3em 0 0 0;
	}
	.info a {
		padding: 9px 0;
		font-size: 1.2em;
		width: 53%;
		margin: 2.2em auto 0;
	}
	.middle-grid {
		min-height: 306px;
	}
	.subscribe input[type="text"] {
		padding: 13px 20px;
		font-size: 1.25em;
		margin-left: 0.5em;		
		width: 67%;
	}
	.subscribe input[type="submit"] {
		padding: 13px 37px;
		margin-left: 0.7em;
	}
	.subscribe img {
		width: 9%;
	}
	.subscribe p {
		margin-top: 0.5em;
		font-size: 1.6em;
	}
	.subscribe {
		padding: 2.8em 0;
		margin: 3em 0;
	}
	.twitter h4 {
		padding-top: 1.5em;
		font-size: 1.8em;
	}
	.twitter p {
		font-size: 1.3em;
		margin: 0.2em 0 0.8em 0;
	}
	.twitter {
		min-height: 205px;
	}
	.footer {
		padding: 1.5em 0;
	}
	.copyright p {
		font-size: 1.1em;
	}
	.logo1 {
		width: 50%;
	}
	.logo1 img {
		width: 29%;
	}
	.a-top-menu {
		margin-top: 10px;
	}
	.a-header {
		padding: 1.3em 0;
	}
	.about-section-head h3 {
		font-size: 2.5em;
		margin: 0 0 0.28em 0;
	}
	.about-section-head p {
		font-size: 1.3em;
		line-height:1.6em;
	}
	.about-section-head {
		padding: 2.5em 0;
	}
	.services-section-head h3 {
		font-size: 2em;
		margin-bottom: 0.3em;
	}
	.services-section-head span {
		height: 3px;
		width: 30%;
	}
	.services-section-grid h4 {
		font-size: 1.8em;
		margin: 0em 0 0.25em 0;
	}
	.span_55 {
		margin-top: 2.5em;
	}
	.about-section-top-left-grid h4, .about-section-middle-left-grid h4, .about-section-bottom-left-grid h4 {
		padding: 0 0 0.5em 0;
		text-align:Center;
		font-size: 2.1em;
	}
	.about-section-top-right-grid p, .about-section-bottom-right-grid p {
		font-size: 1.6em;
		text-align:Center;
	}
	.about-section-middle-right-grid p {
		font-size: 1.5em;
		text-align:Center;
	}
	.about-section-grids {
		margin-bottom: 3em;
	}
	.about-section-top-grid, .about-section-middle-grid, .about-section-bottom-grid {
		padding: 2.2em 0;
	}
        .plantImage img {
		width: 80%;
	} 
	.flat-phone img {
		width: 70%;
	}
	.span_66 {
		margin-bottom: 0em;
	}
	.about_desc p {
		font-size: 0.95em;
	}
}
@media screen and (max-width: 768px) {
	.features-section-head h3 {
		font-size: 3.3em;
		letter-spacing: 0px;
	}
	.features-section-head p {
		font-size: 1.55em;
	}
	.features-section-grid p {
		font-size: 1.1em;
		width: 74%;
		margin: 0.6em auto 1.5em;
	}
	.features-section-grid a {
		padding: 8px 29px;
		font-size: 1.1em;
		border-bottom: 2px solid #d22546;
	}
	.features-section-head {
		margin-bottom: 2.5em;
	}
	.features-section-grid img {
		width: 46%;
	}
	.middle-grid {
		min-height: 300px;
	}
	.twitter {
		min-height: 200px;
	}
	.subscribe {
		padding: 2.5em 0;
		margin: 2.8em 0;
	}
}
@media screen and (max-width: 640px) {
	.header {
		padding-top: 2em;
	}
	.top-menu ul li {
		margin: 0 3px;
		font-size: 1.1em;
	}
	.logo img {
		width: 58%;
	}
	.logo {
		margin-top: 2.6em;
	}
	.title p {
		font-size: 1.2em;
		margin: -14px 6px 32px 0px;
		letter-spacing: 0px;
	}
	.title a {
		font-size: 1.2em;
		padding: 10px 40px;
		margin-left: 5em;
	}
	.features-section-head h3 {
		font-size: 2.85em;
	}
	.features-section-head p {
		font-size: 1.3em;
	}
	.features-section-grid img {
		width: 43%;
	}
	.features-section-grid p {
		width: 93%;
		margin: 0.5em auto 1.4em;
	}
	.features-section-grid a {
		padding: 7px 24px;
		font-size: 1em;
	}
	.features-section {
		padding: 2em 0 3em 0;
	}
	.info h4 {
		font-size: 2em;
		letter-spacing: 4px;
		line-height: 1.35em;
	}
	.info {
		margin: 2em 0 0 0;
	}
	.info a {
		padding: 7px 0;
		font-size: 1em;
		width: 54%;
		margin: 2em auto 0;
	}
	.middle-grid {
		min-height: 250px;
	}
	.subscribe input[type="text"] {
		padding: 10px 20px;
		font-size: 1.2em;
		margin-left: 0.3em;
		width: 65%;
		border-bottom: 2px solid #adadad;
	}
	.subscribe input[type="submit"] {
		padding: 12px 32px;
		margin-left: 0.4em;
		border-bottom: 2px solid #adadad;
		font-size: 1em;
	}
	.subscribe p {
		margin-top: 0.4em;
		font-size: 1.3em;
		letter-spacing: 0;
	}
	.subscribe {
		padding: 2em 0;
		margin: 2.2em 0;
	}
	.twitter h4 {
		padding-top: 1.3em;
		font-size: 1.4em;
	}
	.twitter p {
		font-size: 1.1em;
		margin: 0.2em 0 0.7em 0;
	}
	.twitter a {
		font-size: 2em;
	}
	.twitter img {
		width: 5.5%;
		margin-right: 5px;
	}
	.twitter {
		min-height: 166px;
	}
	.about-section-head h3 {
		font-size: 2.3em;
		margin: 0 0 0.2em 0;
	}
	.about-section-head p {
		font-size: 1.2em;
	}
	.about-section-top-grid, .about-section-middle-grid, .about-section-bottom-grid {
		padding: 2em 0;
	}
	.about-section-top-left-grid h4, .about-section-middle-left-grid h4, .about-section-bottom-left-grid h4 {
		font-size: 2em;
	}
	.about-section-top-right-grid p, .about-section-bottom-right-grid p {
		font-size: 1.4em;
	}
	
	.about-section-middle-right-grid p {
		font-size: 1.3em;
	}
	.about-section-grids {
		margin-bottom: 2em;
	}
	.services-section-head h3 {
		font-size: 1.85em;
		margin-bottom: 0.1em;
	}
	.services-section-head span {
		height: 2px;
		width: 35%;
	}
	.services-section-grid h4 {
		font-size: 1.6em;
	}
	.services-section-grid p {
		font-size: 0.95em;
	}
	.services-section {
		padding: 2.5em 0;
	}
	.faq-page-head h3 {
		font-size: 2em;
	}
}
@media screen and (max-width: 480px) {
        .github {
            display: none;
        }
	.header-left {
		padding: 0;
	}
	.top-menu ul li {
		margin: 0 2px;
		font-size: 1.05em;
	}
	.logo {
		margin-top: 2.3em;
	}
	.title p {
		font-size: 1em;
		margin: -8px -5px 30px 0px;
		letter-spacing: 0px;
	}
	.title a {
		font-size: 1em;
		padding: 9px 37px;
		margin-left: 4.5em;
		border: 1px solid #ab1834;
	}
	.features-section-head h3 {
		font-size: 2.4em;
	}
	.features-section-head p {
		font-size: 1.2em;
	}
	.features-section-head {
		margin-bottom: 0em;
	}
	.features-section-grid {
		width: 100%;
		margin-top:2em;
	}
	.features-section-grid img {
		width: 22%;
	}
	.features-section-grid p {
		width: 80%;
		margin: 0.4em auto 0.8em;
		font-size: 1em;
	}
	.features-section-grid a {
		padding: 6px 22px;
		font-size: 0.95em;
	}
	.info h4 {
		font-size: 1.3em;
		letter-spacing: 3px;
		line-height: 1.4em;
	}
	.info a {
		padding: 6px 0;
		font-size: 0.9em;
		width: 59%;
		margin: 1.4em auto 0;
		border: 1px solid #cfcfcf;
	}
	.middle-grid {
		min-height: 185px;
	}	
	.subscribe input[type="text"] {
		padding: 9px 18px;
		font-size: 1.1em;
		margin-left: 0.2em;
		width: 63%;
	}
	.subscribe input[type="submit"] {
		padding: 10px 23px;
		margin-left: 0.2em;
		border-bottom: 2px solid #adadad;
		font-size: 0.95em;
	}
	.subscribe img {
		width: 10%;
	}
	.subscribe p {
		margin-top: 0.3em;
		font-size: 1.1em;
	}
	.subscribe {
		padding: 1.8em 0;
		margin: 2em 0;
	}
	.twitter h4 {
		padding-top: 1.15em;
		font-size: 1.2em;
		letter-spacing: 0;
	}
	.twitter p {
		font-size: 1em;
	}
	.twitter a {
		font-size: 1.8em;
	}
	.twitter img {
		width: 6%;
	}
	.twitter {
		min-height: 124px;
	}
	.copyright p {
		font-size: 0.95em;
	}
	.footer {
		padding: 1.2em 0;
	}
	.services-section-head h3 {
		font-size: 1.6em;
	}
	.services-section-grid h4 {
		font-size: 1.3em;
	}
	.services-section-grid p {
		font-size: 0.9em;
		width: 100%;
		line-height: 1.5em;
	}
	.services-section-head {
		margin-bottom: 2em;
	}
	.logo1 img {
		width: 40%;
	}
	.a-header {
		padding: 1.2em 0;
	}
	.a-top-menu {
		margin-top: 8px;
	}
	.about-section-head h3 {
		font-size: 2em;
	}
	.about-section-head p {
		font-size: 1em;
	}
	.about-section-head {
		padding: 2em 0;
	}
	.about-section-top-left-grid h4, .about-section-middle-left-grid h4, .about-section-bottom-left-grid h4 {
		font-size: 1.9em;
		padding-bottom:0.3em;
	}
	.about-section-top-right-grid p, .about-section-bottom-right-grid p {
		font-size: 1.2em;
	}
	.about-section-middle-right-grid p {
		font-size: 1.1em;
	}
	.questions a{
		font-size:0.95em;
	}
}
@media screen and (max-width: 320px) {
        .github {
            display: none;
        }
	.copyright {
		text-align: center;
	}
	.twitter h4 {
		padding-top: 1.1em;
		font-size: 1.1em;
	}
	.twitter p {
		font-size: 0.875em;
	}
	.twitter a {
		font-size: 1.5em;
	}
	.subscribe p {
		margin-top: 0.25em;
		font-size: 0.92em;
	}
	.subscribe input[type="text"] {
		padding: 7px 15px;
		font-size: 0.95em;
		margin-left: 0.1em;
		width: 57%;
		letter-spacing: 0;
	}
	.subscribe input[type="submit"] {
		padding: 7px 9px;
		margin-left: 0.1em;
		font-size: 0.9em;
	}
        .plantImage img {
		width: 80%;
	} 
	.subscribe img {
		width: 13%;
	}
	.subscribe {
		padding: 1.3em 0;
		margin: 1.5em 0;
	}
	.info h4 {
		font-size: 1.05em;
		letter-spacing: 2px;
		line-height: 1.3em;
	}
	.info {
		margin: 1.2em 0 0 0;
	}
	.info a {
		font-size: 0.875em;
		width: 67%;
		margin: 1.2em auto 0;
		padding:5px 0;
	}
	.middle-grid {
		min-height: 130px;
	}
	.features-section-head h3 {
		font-size: 2em;
	}
	.features-section-head p {
		font-size: 1em;
	}
	.features-section-grid p {
		font-size: 0.95em;
	}
	.features-section-grid img {
		width: 28%;
	}
	.flat-phone img {
		width: 80%;
	}
	.span_55 {
		margin-top: 2.2em;
		padding: 0;
	}
	.flat-phone {
		margin: 15px 0;
	}
	.span_66 {
		margin-bottom: 0em;
		padding: 0;
	}
	.services-section-head h3 {
		font-size: 1.55em;
	}
	.top-menu ul li {
		margin: 0 2px;
		font-size: 0.98em;
	}
	.title p {
		display: none;
	}
	.logo {
		margin-top: 1.8em;
	}
	.logo img {
		width: 62%;
	}
	.title a {
		font-size: 0.8751em;
		padding: 7px 21px;
		margin-left: 2em;
		margin-top: 1em;
	}
	.header {
		padding-top: 1.5em;
	}
	.header-right {
		padding: 0;
	}
	.logo1 {
		width: 40%;
	}
	.logo1 img {
		width: 73%;
	}	
	.a-top-menu {
		margin-top: 7px;
	}	
	.about-section-head h3 {
		font-size: 1.8em;
	}
	.about-section-head p {
		font-size: 0.95em;
	}
	.about-section-head {
		padding: 1.5em 0;
	}
	.about-section-top-left-grid h4, .about-section-middle-left-grid h4, .about-section-bottom-left-grid h4 {
		font-size: 1.8em;
	}
	.about-section-top-right-grid p, .about-section-bottom-right-grid p {
		font-size: 1.05em;
	}
	.about-section-middle-right-grid p {
		font-size: 1em;
	}
	.about-section-top-grid, .about-section-middle-grid, .about-section-bottom-grid {
		padding: 1.6em 0;
	}
	.faq-page-head h3 {
		font-size: 1.8em;
	}
	.question-answers {
		padding-top: 25px;
	}
}